<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}BrechaDigital CO{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom sticky-top py-3">

        <div class="container">

            <a class="navbar-brand fw-bold logo-text" href="/">
                Brecha<span>Digital</span> CO
            </a>

            <button class="navbar-toggler" 
                    type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#menu">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="menu">

                <ul class="navbar-nav mx-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/pipeline">Pipeline</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/datasets">Datasets</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/resultados">Results</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>

                </ul>

                <a href="/pipeline" class="btn btn-success px-4 rounded-3">
                    View Pipeline
                </a>

            </div>

        </div>

    </nav>

    <!-- MAIN CONTENT -->
    <main>

        {% block content %}
        {% endblock %}

    </main>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>